<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>ምስል Market - Contact Us</title>
    <link rel="icon" href="../../Resources/images/logo.jpg" type="image/jpg"/>
</head>
<body>
    <header>
        <table width="100%">
            <tr>
                <td width="5%"></td>
                <td>
                    <a href="home.html"><img src="../../Resources/images/logo.jpg" alt="logo of the website" height="40"/></a>
                </td>
                <td align="left">
                    <a href="shop.html">| <b>shop</b> |</a>
                    <input type="text" placeholder="type...">
                    <button type="submit">Search</button>
                </td>
                <nav>
                    <td align="justify">
                        <b>
                            <a href="home.html">Home|</a>
                            <a href="artists.html">Artists|</a>
                            <a href="about.html">About|</a>
                            <a href="contact.html">Contact|</a>
                        </b>
                    </td>
                    <td align="right">
                        <button><a href="login.html"><b>Sign-In</b></a></button>
                        <button><a href="signup.html"><b>Sign Up</b></a></button>   
                    </td>
                </nav>
            </tr>
        </table>    
    </header>
    <hr>
    <main>
        <table width="100%">
            <tr>
                <td width="5%" valign="top" align="middle">
                    <a href="home.html"><img src="../../Resources/images/home.png" height="30"></a>
                </td>  
                <td class="separator" width="1" bgcolor="black"></td>
                <td width="2%"></td> 
                <td>
                    <h3>Contact Us</h3><br>
                    <section class="hello">
                        <p>If you have any questions or inquiries, feel free to contact us:</p>
                        
                        <p>Email: <a href="groupthree@gmail.com">groupthree@gmail.com.com</a></p>
                        
                        <p>Follow us on social media:</p>
                        <ul>
                            <li><a href="https://www.facebook.com/artconnect" target="_blank">Facebook</a></li>
                            <li><a href="https://twitter.com/artconnect" target="_blank">Twitter</a></li>
                            <li><a href="https://www.instagram.com/artconnect" target="_blank">Instagram</a></li>
                        </ul>

                        <p>Leave a comment:</p>
                        <input type="email" placeholder="Enter your email here"><br><br>
                        <textarea rows="4" cols="50" placeholder="Type your comment here..."></textarea>
                        <br>
                        <button type="submit">Submit Comment</button>
                    </section>
                </td>
            </tr>
        </table>
    </main>
    <footer>
        <p>&copy; 2023 MSL Market. All rights reserved.</p>
    </footer>
</body>
</html>
