<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-Up | ምስል Market </title>
    <link rel="icon" href="../../Resources/images/logo.jpg" type="image/jpg"/>
</head>
<body>
  <table width="100%">
    <td width="15%"></td>
    <td>
        <td  valign="top" align="left">
            <a href="home.html"><img src="../../Resources/images/home.png" height="30"></a>
        </td>  
    </td>
</table>
    <table width="100%">
        <tr>
            <td width="15%"></td>
    
            <td valign="top" width="30%">
             <fieldset> 
               <table width="100%">
                <tr>
                    <td width="5%"></td>
                    <td>
                      <form>
                        <legend><h1>Sign-Up</h1><hr></legend><br>
                
                        <label for="username"><b>Email</b></label><br>
                        <input required type="text" size="40" id="uname" name="uname" placeholder="Enter your email here" maxlength="32"/><br><br>
                        <label for="pass"><b>Password</b></label><br>
                        <input required type="password" size="40" id="pword" name="pword" placeholder="Password" minlength="8" maxlength="24"/><br><br>
                        <label for="pass"><b>Confirm Password</b></label><br>
                        <input required type="password" size="40" id="cpword" name="cpword" placeholder="Confirm Password" minlength="8" maxlength="24"/><br><br>
                        <input type="checkbox"/>Remember me
                        <div align="right">
                            <a href="login.html"><b>Already have an account? Sign In</b></a>
                        </div>
                        <br>
                        <a href="home.html"><button type="submit"><b>Sign-Up</b></button></a>
                      </form>
                      <hr>
                      
                      <button type="button"><b>Continue with Google</b></button>
                      
                    </td>
                </tr>
               </table>
             </fieldset> 
            </td>
            <td width="10%"></td>
        </tr>
    </table>
</body>
</html>
